{% extends "base.html.j2" %}
{% block title %} Building {{ building.name }} {% endblock %}

{% block content %}

<div class="text-center">
  <h1> You have entered {{building.name}} </h1>

  <h3>opportunities</h3>

</div>
  
{% endblock %}


