{% extends "base.html.j2" %}
{% block title %} On the ship {% endblock %}

{% block content %}

<div class="text-center">
	{% if not player.ship %}

		<p> What good is a captain without a ship!</p>
		<p> Luckily, I have something for you..</p>
		<p> Don't worry, you will pay me in time.</p>
		<p> Now, choose your ship: </p>

		<form action="{{ url_for('ShipView:choose_ship') }}" method="POST" >
			<select name="ship">
				{% for ship in Ship.load_all() %}
					<option name="{{ship.name}}" value={{ship.id}}> {{ship.name}} ({{ship.description}})  </option>
				{% endfor %}
			</select>
			<button type="submit"> I want this! </button>
		</form>

	{% else %}
		<h2> {{ player.ship.name }} </h2>
		<h4> {{ player.ship.description }} </h4>

		<hr>

		<div>
			<h3>Stats:</h3>
			
			Sensors: {{ player.ship.sensors}} 		<br>
			Firepower: {{ player.ship.firepower}} 	<br>
			Durability: {{ player.ship.durability}} 	<br>
			Accomodation: {{ player.ship.accomodation}} <br>
			Speed: {{ player.ship.speed}} <br>
			
		</div>
	{% endif %}

</div>
	
{% endblock %}


