{% extends "base.html.j2" %}
{% block title %} Beginnings {% endblock %}

{% block content %}
<div class="text-center">
	{% if not player %}
		
		<p> So.. </p>
		<p> You decided to become a captain, did you? </p>
		<p> That's not an easy way of life, you know? </p>
		<p> But first things first.. </p>
		<p> How should I call you now? </p>

		<form action="{{ url_for('IndexView:post') }}" method="POST">
			<button type="submit">Call me..</button>
			<input type="text" name="name">
		</form>

	{% elif not player.qualities %}
		
		<p> Ok, I will call you {{ player.name }}</p>
		<p> And now for important issues.. </p>
		<p> Why did you decide to become a captain? </p>
		
		<p> Maybe you are <strong>drawn in by the adventure</strong>.. </p>
		<p> Or you are <strong>running from law</strong>, possibly.. </p>
		<p> You belive you can <strong>get rich</strong> this way? </p>

		<form action="{{ url_for('IndexView:post') }}" method="POST">
			<select name="background">
				<option value="law"> Running from law </option>
			</select>
			<button type="submit"> This is my reason </button>
		</form>

	{% elif not player.ship %}
		<p> Ok, its' time to choose your ship </p>

	{% endif %}

	

	


</div>
{% endblock %}

