<div id="navbar" class="container mt-3" style="background-color: gray;">
    <a href="{{ url_for('PlayerView:index') }}" class="ms-2 me-2 {% if not player %}visibility-hidden{% endif %}"> you </a>

    | 
    
    <a href="{{ url_for('ShipView:index') }}" class="ms-2 me-2 {% if not player.ship %}visibility-hidden{% endif %}"> ship </a>

    |

    <a href="{{ url_for('PlayerView:delete_player') }}" class="float-end"> restart! </a>
</div>
